@import 'styles';

.feed {
  &-wrapper {
    @include column-flexbox(start, start);
    margin-bottom: 24px;
    border: 1px solid $border;
    border-radius: 3px;
    background-color: $white;
  }

  &-image-wrapper {
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    i {
      @include pos-center(absolute);
      opacity: 0;
      color: $red;
      font-size: 50px;
    }
  }
}
