@import 'styles';

.feed {
  &-wrapper {
    @include column-flexbox(start, start);
    margin-bottom: 24px;
    border: 1px solid $border;
    border-radius: 3px;
    background-color: $white;
  }

  &-header {
    @include flexbox(between, center);
    width: 100%;
    height: 60px;
    padding: 14px 16px;

    &-left {
      @include flexbox(start, center);
    }

    .feed.user-info {
      margin-left: 14px;
    }

    .more-btn {
      display: block;
      width: 20px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &-image-wrapper {
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    i {
      @include pos-center(absolute);
      opacity: 0;
      color: $red;
      font-size: 50px;
    }
  }

  &-bottom {
    width: 100%;
    padding: 0 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border;
  }

  &-controller {
    @include flexbox(between, start);
    height: 54px;
    padding: 8px 0;
    font-size: 24px;

    i,
    .fas.is-liked {
      transition: opacity 300ms ease-in-out, color 0.3s ease-in-out;
      cursor: pointer;
    }

    i:hover {
      opacity: 0.5;
    }

    .right {
      text-align: right;
    }
  }

  &-bottom-info {
    @include column-flexbox(start, start);
    font-size: 14px;
  }

  &-like {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 700;

    dl {
      @include flexbox(start, center);

      dt {
        margin-right: 4px;
      }
    }
  }
}

.icon-group {
  @include flexbox(start, center);

  &.left {
    i {
      position: relative;
      opacity: 1;
    }

    .fas {
      color: transparent;
    }
  }
}

.fas.is-liked.fa-heart {
  color: $red;
}

.icon-item {
  width: 38px;
  height: 38px;
}

.feed-desc {
  @include flexbox(start, center);
  margin-bottom: 2px;

  .user-id {
    margin-right: 4px;
    font-weight: 700;
  }
}

.feed-desc-group {
  width: 100%;

  .comment-more {
    margin-bottom: 8px;
    color: $gray;
  }

  .feed-uploaded {
    margin-bottom: 8px;
    color: $gray;
    font-size: 10px;
    line-height: 1.8;
  }
}

.feed-comment-item {
  @include flexbox(between, start);
  line-height: 1;

  button {
    padding: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
