@import 'styles';

.container {
  min-height: 100vh;
  background-color: $background;

  /* MAIN */
  main {
    @include flexbox(start, start);
    width: 935px;
    margin: 0 auto;
    padding-top: 84px; /* nav height 54px + margin 30px 만큼 margin-top*/
  }

  /* MAIN-LEFT */
  .main-left {
    width: 614px;
    margin-right: 28px;
  }

  /* Comment Wrapper */
  .comment-wrapper {
    @include flexbox(between, center);
    width: 100%;
    height: 53px;
    padding: 6px 16px;

    i {
      position: relative;
      top: 1px;
      margin-right: 4px;
      font-size: 18px;
    }

    button {
      padding: 0;
    }

    input {
      width: 500px;
    }
  }

  /* MAIN-RIGHT */

  /* Recommend Section */

  .like-animation {
    animation: heart-move 3s;
  }

  @media screen and (max-width: 1024px) {
    main,
    .global-nav-wrapper {
      width: 614px;
      margin: 0 auto;
    }

    .main-right {
      display: none;
    }
  }

  @keyframes heart-move {
    0% {
      top: 60%;
      opacity: 1;
    }

    30% {
      top: 45%;
      opacity: 1;
    }

    60% {
      opacity: 0;
    }
  }
}
