@import 'styles';

.container {
  min-height: 100vh;
  background-color: $background;

  /* MAIN */
  main {
    @include flexbox(start, start);
    width: 935px;
    margin: 0 auto;
    padding-top: 84px; /* nav height 54px + margin 30px 만큼 margin-top*/
  }

  /* MAIN-LEFT */
  .main-left {
    width: 614px;
    margin-right: 28px;
  }

  /* Story */

  /* Feed */
  .feed {
    &-wrapper {
      @include column-flexbox(start, start);
      margin-bottom: 24px;
      border: 1px solid $border;
      border-radius: 3px;
      background-color: $white;
    }

    &-header {
      @include flexbox(between, center);
      width: 100%;
      height: 60px;
      padding: 14px 16px;

      &-left {
        @include flexbox(start, center);
      }

      .feed.user-info {
        margin-left: 14px;
      }

      .more-btn {
        display: block;
        width: 20px;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    &-image-wrapper {
      position: relative;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      i {
        @include pos-center(absolute);
        opacity: 0;
        color: $red;
        font-size: 50px;
      }
    }

    &-bottom {
      width: 100%;
      padding: 0 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid $border;
    }

    &-controler {
      @include flexbox(between, start);
      height: 54px;
      padding: 8px 0;
      font-size: 24px;

      i,
      .fas.is-liked {
        transition: opacity 300ms ease-in-out, color 0.3s ease-in-out;
        cursor: pointer;
      }

      i:hover {
        opacity: 0.5;
      }

      .right {
        text-align: right;
      }
    }

    &-bottom-info {
      @include column-flexbox(start, start);
      font-size: 14px;
    }

    &-like {
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 700;

      dl {
        @include flexbox(start, center);

        dt {
          margin-right: 4px;
        }
      }
    }
  }

  .icon-group {
    @include flexbox(start, center);

    &.left {
      i {
        position: relative;
        opacity: 1;
      }

      .fas {
        color: transparent;
      }
    }
  }

  .fas.is-liked.fa-heart {
    color: $red;
  }

  .icon-item {
    width: 38px;
    height: 38px;
  }

  .feed-desc {
    @include flexbox(start, center);
    margin-bottom: 2px;

    .user-id {
      margin-right: 4px;
      font-weight: 700;
    }
  }

  .feed-desc-group {
    width: 100%;

    .comment-more {
      margin-bottom: 8px;
      color: $gray;
    }

    .feed-uploaded {
      margin-bottom: 8px;
      color: $gray;
      font-size: 10px;
      line-height: 1.8;
    }
  }

  .feed-comment-item {
    @include flexbox(between, start);
    line-height: 1;

    button {
      padding: 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  /* Comment Wrapper */
  .comment-wrapper {
    @include flexbox(between, center);
    width: 100%;
    height: 53px;
    padding: 6px 16px;

    i {
      position: relative;
      top: 1px;
      margin-right: 4px;
      font-size: 18px;
    }

    button {
      padding: 0;
    }

    input {
      width: 500px;
    }
  }

  /* MAIN-RIGHT */

  /* User-Profile */
  .user-profile {
    @include flexbox(between, center);
    width: 290px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .user-info {
    @include column-flexbox(start, start);
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.2857;

    span {
      display: block;
      width: 180px;
      margin-top: 3px;
      color: $gray;
    }
  }

  .button-primary {
    padding: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    color: $blue;
    font-size: 12px;
    font-weight: 700;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  /* Recommend Section */
  .recommendation {
    width: 100%;

    &-title {
      @include flexbox(between, center);
      margin-bottom: 5px;
      font-weight: 700;

      h3 {
        color: $gray;
        font-size: 14px;
        font-weight: 700;
      }

      a {
        font-size: 12px;
        letter-spacing: -0.05em;
      }
    }

    &-list {
      @include column-flexbox(center, between);
      margin-bottom: 12px;
      padding: 10px 0;
    }

    &-item {
      @include flexbox(between, center);
      margin-bottom: 16px;

      .avatar {
        margin-left: 5px;
      }

      .user-info span {
        display: block;
        width: 170px;
        height: 18px;
        overflow-x: hidden;
        font-size: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .like-animation {
    animation: heart-move 3s;
  }

  @media screen and (max-width: 1024px) {
    main,
    .global-nav-wrapper {
      width: 614px;
      margin: 0 auto;
    }

    .main-right {
      display: none;
    }
  }

  @keyframes heart-move {
    0% {
      top: 60%;
      opacity: 1;
    }

    30% {
      top: 45%;
      opacity: 1;
    }

    60% {
      opacity: 0;
    }
  }
}
