@import '/src/styles';

.main-right {
  @include column-flexbox(start, start);
}

/* Global Footer */
.global-footer {
  width: 100%;
  color: #b5b5b5;
  font-size: 11px;

  &-list {
    display: flex;
    margin-bottom: 16px;
  }

  &-item:not(:last-child) a::after {
    content: '·';
    margin: 0 2.75px;
  }
}
