@import 'styles';

.feed-header {
  @include flexbox(between, center);
  width: 100%;
  height: 60px;
  padding: 14px 16px;

  &-left {
    @include flexbox(start, center);
  }

  .feed.user-info {
    margin-left: 14px;
  }

  .more-btn {
    display: block;
    width: 20px;

    img {
      display: block;
      width: 100%;
    }
  }
}
