@import 'styles';

.search-input-wrapper {
  @include flexbox(start, center);
  position: relative;
  width: 215px;
  height: 28px;
  padding: 12px;
  border: 1px solid $border;
  border-radius: 3px;
  background-color: $background;

  input {
    width: 100%;
    border: none;
    background-color: transparent;
  }

  input::placeholder {
    color: $gray;
  }
}
