@import 'styles';

.global-nav-bar {
  @include flexbox(start, center);
  position: fixed;
  z-index: $gnb-level;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid $border;
  background-color: $white;

  .logo {
    font-size: 28px;
  }

  .global-nav-wrapper {
    @include flexbox(between, center);
    width: 935px;
    margin: 0 auto;
  }
}

.user-action-group {
  @include flexbox;
}

.user-action-item {
  @include flexbox;
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 22px;
  }

  i {
    font-size: 22px;
  }

  &.is-new::after {
    content: '';
    @include pos-center-x;
    display: block;
    bottom: -10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $red;
  }
}
